/* -------------------------------------------------------------------------- */
/*                               Main Stylesheet                              */
/* -------------------------------------------------------------------------- */

@import "partials/variables";

body {
  width: 100vw;
  height: 100vh;
  color: #2E2C2F;
  font-family: 'Lato', arial, helvetica, sans-serif;
  font-size: 16px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

// Manually Import Component CSS files (currently does NOT compile SCSS)
@import url('components/hero/basic/styles.css');
