<!DOCTYPE html>
<html class="no-js" lang="{{ site.lang }}">
  <head>
    <title>{%- if title -%}{{ title }} - {{ site.title }}{%- else -%}{{ site.title }}{%- endif -%}</title>
    {% include "meta.html" ignore missing%}
    <script src="/assets/js/load-fonts.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,800,900&display=swap'">
    <link rel="stylesheet" href="/assets/css/loader.css">
    <link rel="stylesheet" href="/assets/css/app.css">
    <link rel="stylesheet" href="/assets/css/theme.css">
    <script src="/assets/js/jquery.min.js"></script>
  </head>
  <body{% if bodyClass %} class="{{ bodyClass }}"{% endif %}>
    <div id="loader"></div>
    <div id="content" class="page">
      <header>
        {% include "header.html" ignore missing %}
      </header>
      <main class="content">
        {{ content | safe }}
      </main>
      <section class="sidebar">
        {% include "sidebar.html" ignore missing %}
      </section>
      <footer>
        {% include "footer.html" ignore missing %}
      </footer>
    </div>

    {# <script type="text/javascript">window.onload = function() { setTimeout(function() { document.getElementById("loader").remove(); },1000);};</script> #}
    <script src="/assets/js/app.js"></script>
  </body>
</html>
