/* -------------------------------------------------------------------------- */
/*                                Global Styles                               */
/* -------------------------------------------------------------------------- */

body {
  background: #ffffff;
  color: #2E2C2F;
  font-family: sans-serif;
  font-size: 16px;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
}

.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.content {
  padding: $base;
}

header {
  background-color: $c-oyster;
  height: $base*4;
}

footer {
  background-color: $c-oyster;
  height: $base*4;
}

.sidebar {
  background-color: $c-oyster;
  width: $sidebar;
}

q {
  quotes: "“" "”";
}
