/* -------------------------------------------------------------------------- */
/*                               CSS Grid Layout                              */
/* -------------------------------------------------------------------------- */

#content {
  display: grid;
  // grid-template-columns: repeat(3, 1fr);
  grid-template-columns: 200px auto;
  grid-auto-rows: minmax(100px, auto);
  grid-template-rows: auto 1fr auto;
  grid-gap: 0;
  grid-template-areas:
    "header header header"
    "section section section"
    "main main main"
    "footer footer footer";
  max-width: 1280px;
  margin: 0 auto;
  min-height: 100vh;

  @media (min-width: 768px) {
    grid-template-areas:
      "header header header"
      "section main main"
      "footer footer footer";
  }
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

section {
  grid-area: section;
}

footer {
  grid-area: footer;
}
